<div class="app-body m-0">
  <main class="main d-flex align-items-center">
    <div class="row w-100 h-100">
      <div class="col-md-12 mx-auto px-0">
        <div class="card-group h-100">
          <div class="card p-4 loginSecLeft m-0">
            <div class="card-body text-center">
              <!-- <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" formControlName="username" class="form-control" placeholder="Username" autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" formControlName="password" class="form-control" placeholder="Password" autocomplete="current-password" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Forgot password?</button>
                    </div>
                  </div>
                </form> -->
              <div class="w-100 mb-5">
                <img src="assets/img/loginlogo.png" alt="login logo" />
              </div>
              <h4 class="mb-4">Lorem Ipsum is simply dummy text </h4>
              <p class="text-center mb-5">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                roots in
                a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              <button class="text-light rounded py-2 px-3 text-uppercase">Know More</button>
            </div>
          </div>
          <div class="card py-5 d-flex align-items-center justify-content-center loginSecRight m-0">
            <div class="card-body text-center">
              <div>
                <div class="w-100 text-left mb-4 d-flex flex-column">
                  <h2>Sign in to <span>Company</span>Name</h2>
                  <p class="mb-3">Enter your login details below</p>

                </div>
                <!-- Login Form -->
                <form [formGroup]="loginForm" *ngIf="displayLogin" class="d-flex flex-column"
                  (ngSubmit)="loginSubmit()" ngNativeValidate>
                  <div class="input-group mb-4">
                    <label class="text-uppercase w-100 text-left">LOGIN ID or EMAIL ADDRESS</label>
                    <input type="text" formControlName="username" class="form-control rounded py-3"
                      autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="d-flex flex-row w-100 align-items-center">
                      <div class="col-6 px-0"><label class="text-uppercase w-100 text-left">Password</label></div>
                      <div class="col-6 px-0 text-right"><a class="darkblue px-0">Forgot password?</a></div>
                    </div>
                    <input type="password" formControlName="password" class="form-control rounded py-3"
                      autocomplete="current-password" required>
                  </div>
                  <div class="mt-3 darkblue font-16px signInMobile">
                    <span class="cursor" (click)="toggleForm(false, true, false)">Or sign in with mobile</span>
                  </div>
                  <div class="row w-100">
                    <button type="submit" class="btn btn-primary px-4 w-100 py-3 font-16px">LOG IN</button>
                  </div>
                </form>

                 <!-- Mobile Form -->
                <form *ngIf="displayMobile" [formGroup]="mobileForm" class="d-flex flex-column">
                  <div class="input-group mb-4">
                    <label class="text-uppercase w-100 text-left">Please enter your mobile no</label>
                    <input type="text" formControlName="mobileno" class="form-control rounded py-3" required>
                  </div>

                  <div class="row w-100">
                    <button type="submit" class="btn btn-primary px-4 w-100 py-3 font-16px" (click)="toggleForm(false, false, true)">GET CODE</button>
                  </div>
                </form>

                <!-- OTP Form -->
                <form *ngIf="displayOTP" [formGroup]="otpForm" class="d-flex flex-column">
                  <div class="input-group mb-4">
                    <label class="text-uppercase w-100 text-left">OTP</label>
                    <input type="text" formControlName="mobileotp" class="form-control rounded py-3" required>
                  </div>

                  <div class="row w-100">
                    <button type="submit" class="btn btn-primary px-4 w-100 py-3 font-16px">LOG IN</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>