<div class="animated fadeIn">
  <div class="row dashboardAmount mb-3 position-relative">
    <div class="py-4 mx-4 w-100 d-flex flex-row flex-wrap amountList">
      <div class="col-sm-6 col-lg-3">
        <div>
          <div class="row align-items-center">
            <div class="col-sm-8">
              <div class="text-value">${{this.commissionValue}}</div>
              <div class="text-uppercase amountType">Commission</div>
              <div>This month</div>
            </div>
            <div class="col-sm-4 rightIcon px-0">
              <img src="assets/img/commission.png" alt="commission" />
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <div>
          <div class="row align-items-center">
            <div class="col-sm-8">
              <div class="text-value mode">${{this.compensationValue}}</div>
              <div class="text-uppercase amountType">Compensation</div>
              <div>This month</div>
            </div>
            <div class="col-sm-4 rightIcon px-0">
              <img src="assets/img/compensation.png" alt="commission" />
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <div>
          <div class="row align-items-center">
            <div class="col-sm-8">
              <div class="text-value">${{this.onHoldValue}}</div>
              <div class="text-uppercase amountType">On hold</div>
              <div>This month</div>
            </div>
            <div class="col-sm-4 rightIcon px-0">
              <img src="assets/img/onhold.png" alt="commission" />
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <div>
          <div class="row align-items-center">
            <div class="col-sm-8">
              <div class="text-value">${{this.payableValue}} </div>
              <div class="text-uppercase amountType">Others</div>
              <div>This month</div>
            </div>
            <div class="col-sm-4 rightIcon px-0">
              <img src="assets/img/payble.png" alt="commission" />
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
      <div class="col-sm-6 col-lg-2">
        <div>
          <div class="row align-items-center">
            <div class="col-sm-8">
              <div class="text-value">${{this.payableValue}} </div>
              <div class="text-uppercase amountType">Payble</div>
              <div>This month</div>
            </div>
            <div class="col-sm-4 rightIcon px-0">
              <img src="assets/img/payble.png" alt="commission" />
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="d-flex flex-row flex-wrap w-100 performance">
      <div class="col-sm-8">
        <div class="card-body pr-lg-0 performContent">
          <div class="row mb-2">
            <div class="col-sm-3">
              <h4 class="card-title mb-0">Performance</h4>
            </div>
            <div class="col-sm-5">
              <div class="d-flex flex-row align-items-center">
                <div class="form-group row mb-0">
                  <div class="col-md-9 p-0">
                    <select class="form-control" [(ngModel)]="performanceSelectYear" id="performanceYear"
                      name="performanceYear"
                      (change)="performanceGraph(performanceRadioModel, performanceSelectMonth, performanceSelectYear)">
                      <option value="">Select Year</option>
                      <option *ngFor="let year of performanceYear" [value]="year">{{year}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row mb-0">
                  <div class="col-md-9 p-0">
                    <select class="form-control" [(ngModel)]="performanceSelectMonth" id="performanceMonth"
                      name="performanceMonth"
                      (change)="performanceGraph(performanceRadioModel, performanceSelectMonth, performanceSelectYear)">
                      <option value="">Select Month</option>
                      <option [hidden]="month == ''" *ngFor="let month of monthList" [value]="month">{{month}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <!--/.col-->
            <div class="col-sm-4 text-center text-md-right mb-3 mb-md-0">
              <div class="btn-group btn-group-toggle float-right calendarBox" data-toggle="buttons">
                <label [ngClass]="{'active1':performanceRadioModel == 'm'}"
                  class="btn btn-outline-secondary text-uppercase cursor"
                  (click)="performanceGraph('m', performanceSelectMonth, performanceSelectYear)"
                  [(ngModel)]="performanceRadioModel" btnRadio="d" id="option1">Month</label>
                <label [ngClass]="{'active1':performanceRadioModel == 'q'}"
                  class="btn btn-outline-secondary text-uppercase cursor"
                  (click)="performanceGraph('q', performanceSelectMonth, performanceSelectYear)"
                  [(ngModel)]="performanceRadioModel" btnRadio="m" id="option2">Quarter</label>
                <label [ngClass]="{'active1':performanceRadioModel == 'y'}"
                  class="btn btn-outline-secondary text-uppercase cursor"
                  (click)="performanceGraph('y', performanceSelectMonth, performanceSelectYear)"
                  [(ngModel)]="performanceRadioModel" btnRadio="y" id="option3">Year</label>
              </div>
            </div>
            <!--/.col-->
          </div>
          <div class="row mt-3 performanceSection">
            <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
              <button class="btn btn-block btn-outline-dark" type="button">
                <div>FYP</div>
                <div>Good</div>
              </button>
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
              <button class="btn btn-block btn-outline-dark active" type="button">
                <div>APE</div>
                <div>
                  <i class="fa fa-angle-up fa-lg mr-2"></i>85%</div>
              </button>
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
              <button class="btn btn-block btn-outline-dark" type="button">
                <div>NOP</div>
                <div>
                  <i class="fa fa-angle-up fa-lg mr-2"></i>27%</div>
              </button>
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
              <button class="btn btn-block btn-outline-dark" type="button">
                <div>RYP</div>
                <div>
                  <i class="fa fa-angle-up fa-lg mr-2"></i>37%</div>
              </button>
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
              <button class="btn btn-block btn-outline-dark" type="button">
                <div>FYC</div>
                <div>Good</div>
              </button>
            </div>
          </div>
          <!--/.row-->
          <div class="chart-wrapper px-3" style="height:300px;margin-top:40px;" *ngIf="performanceRadioModel === 'y'">
            <!-- For Year Chart-->
            <canvas baseChart class="chart" [datasets]="performanceLineChart" [labels]="performanceLineChartLabels"
              [options]="performanceLineChartOptions" [colors]="performanceLineChartColours"
              [legend]="performanceLineChartLegend" [chartType]="performanceChartType"></canvas>
          </div>

          <div class="chart-wrapper" style="height:300px;margin-top:40px;" *ngIf="performanceRadioModel === 'q'">
            <!-- For Quater Chart-->
            <canvas *ngIf="performanceBarChartLabels.length >0" baseChart class="chart"
              [datasets]="performanceBarChartData" [labels]="performanceBarChartLabels"
              [options]="performanceBarChartOptions" [legend]="performanceBarChartLegend"
              [chartType]="performanceBarChartType" height="260" [colors]="performanceBarChartColours"></canvas>
          </div>

          <div class="chart-wrapper" style="height:300px;margin-top:40px;"
            *ngIf="performanceRadioModel === 'm' && performanceDoughnutChartDataBottom !== undefined">
            <!-- For Monthly Chart-->
            <canvas [options]="performanceDoughnutChartOptions" baseChart class="chart"
              [data]="performanceDoughnutChartDataBottom" [labels]="performanceDoughnutChartLabelsBottom"
              [chartType]="performanceDoughnutChartTypeBottom" height="300"
              [colors]="performanceDoughnutChartColor"></canvas>
          </div>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-body">
          <div class="row align-items-center px-2 px-md-0 mb-3 mt-3 mt-md-0">
            <div class="col-sm-12 px-md-0 performance">
              <h4 class="card-title">Production</h4>
            </div>
            <div class="col-sm-4 p-0 mb-3 mb-sm-0">
              <div class="form-group row mb-0">
                <div class="col-md-9 p-0">
                  <select class="form-control"
                    (change)="performanceProductionGraph(performanceProductionSelectMonth, performanceProductionSelectYear)"
                    [(ngModel)]="performanceProductionSelectYear" id="performanceProductionSelectYear"
                    name="performanceProductionSelectYear">
                    <option value="">Select Year</option>
                    <option *ngFor="let year of performanceYear" [value]="year">{{year}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4 p-0">
              <div class="form-group row mb-0">
                <div class="col-md-9 p-0">
                  <select class="form-control"
                    (change)="performanceProductionGraph(performanceProductionSelectMonth, performanceProductionSelectYear)"
                    [(ngModel)]="performanceProductionSelectMonth" id="performanceProductionSelectMonth"
                    name="performanceProductionSelectMonth">
                    <option value="">Select Month</option>
                    <option [hidden]="month == ''" *ngFor="let month of monthList" [value]="month">{{month}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4 p-0">
              <div class="form-group row mb-0">
                <div class="col-md-9 p-0">
                  <select class="form-control" [(ngModel)]="performanceProductionSelectProduct"
                    id="performanceProductionSelectProduct" name="performanceProductionSelectProduct"
                    (change)="performanceProductionGraph(performanceProductionSelectMonth, performanceProductionSelectYear)">
                    <option value="">Select Product</option>
                    <option [value]="GroupAPEAck">APE</option>
                    <option [value]="GroupAPEAck1">FYP</option>
                    <option [value]="GroupAPEAck2">NOP</option>
                    <option [value]="GroupAPEAck3">RYP</option>
                    <option [value]="GroupAPEAck4">FYC</option>
                  </select>


                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <canvas *ngIf="performanceProductionBarChartLabels.length >0" baseChart class="chart"
              [datasets]="performanceProductionBarChartData" [labels]="performanceProductionBarChartLabels"
              [options]="performanceProductionBarChartOptions" [legend]="performanceProductionBarChartLegend"
              [chartType]="performanceProductionBarChartType" height="340"
              [colors]="performanceProductionBarChartColours"></canvas>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!--/.row-->

  <!--/.card-->

  <div class="row">
    <div class="col-sm-8 card contestDetails mr-3 px-0 border-0 rounded-0">
      <div class="card-body px-0">
        <div class="row mx-0 px-2">
          <div class="col-sm-5">
            <h4 class="card-title mb-0">Contest Details</h4>
          </div>
          <!--/.col-->
        </div>
        <div class="row mt-3 border-bottom-Card mx-0 pb-4">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-4">
                <!-- <canvas baseChart class="chart" [datasets]="doughnutChartData" [colors]="doughnutChartColor"
                  [chartType]="doughnutChartType"></canvas> -->

                <canvas [options]="contestDetailEvaluationDoughnutChartOptions" height="300" baseChart class="chart"
                  [datasets]="contestDetailEvaluationDoughnutChartData"
                  [chartType]="contestDetailEvaluationDoughnutChartType"
                  [colors]="contestDetailEvaluationDoughnutChartColor"></canvas>
              </div>
              <div class="col-sm-8">
                <div>Win a Trip to Paris for 10 days</div>
                <div><span class="greytext">End Date:</span><span>27th Feb 2019</span></div>
                <div><span class="greytext">You are near to completion of this contest</span></div>
              </div>
            </div>
          </div>
          <!-- <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-4">
                <canvas baseChart class="chart" [datasets]="doughnutChartData" [colors]="doughnutChartColorTwo"
                  [chartType]="doughnutChartType"></canvas>
              </div>
              <div class="col-sm-8">
                <div>Raja and Rani Contest!</div>
                <div><span class="greytext">End Date:</span><span>20th March 2019</span></div>
                <div><span class="greytext">You need to work hard achieve your</span></div>
              </div>
            </div>
          </div> -->
        </div>
        <!--/.row-->
        <div class="chart-wrapper px-4" style="height:300px;margin-top:40px;">
          <div class="col-sm-12 px-0">
            <div class="d-flex flex-row align-items-center">
              <div class="col-12 col-md-5 px-0">
                <h4>Team Performance</h4>
              </div>
              <div class="col-12 col-md-7 d-flex flex-column flex-md-row px-0">
                <div class="form-group row mb-0">
                  <div class="col-md-9 p-0">
                    <select class="form-control" [(ngModel)]="teamPerformanceSelectYear" id="teamPerformanceYear"
                      name="teamPerformanceYear"
                      (change)="teamPerformanceGraph(teamPerformanceSelectMonth, teamPerformanceSelectYear)">
                      <option value="">Select Year</option>
                      <option *ngFor="let year of performanceYear" [value]="year">{{year}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row mb-0">
                  <div class="col-md-9 p-0">
                    <select class="form-control" [(ngModel)]="teamPerformanceSelectMonth" id="teamPerformanceMonth"
                      name="teamPerformanceMonth"
                      (change)="teamPerformanceGraph(teamPerformanceSelectMonth, teamPerformanceSelectYear)">
                      <option value="">Select Month</option>
                      <option [hidden]="month == ''" *ngFor="let month of monthList" [value]="month">{{month}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row mb-0">
                  <div class="col-md-9 p-0">
                    <select class="form-control" [(ngModel)]="teamPerformanceSelectProduct" id="teamPerformanceProduct"
                      name="teamPerformanceProduct"
                      (change)="teamPerformanceGraph(teamPerformanceSelectMonth, teamPerformanceSelectYear)">
                      <option value="">Select Product</option>
                      <option [value]="GroupAPEAck">APE</option>
                      <option [value]="GroupAPEAck1">FYP</option>
                      <option [value]="GroupAPEAck2">NOP</option>
                      <option [value]="GroupAPEAck3">RYP</option>
                      <option [value]="GroupAPEAck4">FYC</option>
                    </select>
                  </div>
                </div>
              </div>


            </div>
          </div>
          <table class="table teamPerformanceTable">
            <tbody>
              <tr [hidden]="teamPerformanceResultData.length == 0" *ngFor="let teamData of teamPerformanceResultData">
                <td>
                  <div [ngClass]="{'userName':teamData.agentImage == null}"> </div><img
                    *ngIf="teamData.agentImage != null" src="{{teamData.agentImage}}" alt="user" />
                </td>
                <td>{{teamData.agentName}}</td>
                <td>{{teamData.agentDesignation}}, Since {{teamData.joiningDate | date}}</td>
                <td>${{teamData.actualValue}}</td>
                <td><i class="fa fa-chevron-{{teamData.symbol}}"></i> %{{teamData.percentage}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-4 card border-0 rounded-0 agentApp">
      <div class="card-body">
        <div class="text-center mb-3">
          <h4>Agent Application Status</h4>
        </div>
        <div class="row">
          <canvas [options]="agentApplicationChartOptions" baseChart class="chart" [data]="agentApplicationData"
            [labels]="agentApplicationLabels" [colors]="agentApplicationChartColor" [chartType]="agentApplicationType"
            height="300"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="customLoader" *ngIf="displayLoader">
  <div class="loader1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>