$colors: (
    primary: #2a62ff,
    whitecolor: #ffffff,
);


@mixin pabsolute($right, $left, $top, $bottom) {
    position: absolute;
    right: $right;
    left: $left;
    top: $top;
    bottom: $bottom;
  }
  
  @mixin bgimg($bgimg, $bgrepeat, $bgsize, $bgposition) {
    background-image: $bgimg;
    background-repeat: $bgrepeat;
    background-size: $bgsize;
    background-position: $bgposition;
  }
  
  @mixin widthheight($width, $height) {
    width: $width;
    height: $height;
  }

body{
    background-color: #edf5f8;
}
.row{
    margin-left:auto;     
    margin-right:auto;     
}

.cursor{
    cursor: pointer;
}

.font-16px{
    font-size: 16px;
}

// Here you can add other styles
.app-header {
    background-color: map-get($colors, primary) !important;
    a.navbar-brand{
        width: 280px !important;
        background-color: map-get($colors, whitecolor) !important;
        justify-content: flex-start;
        padding-left: 20px;
        img{
            @include widthheight(auto, auto);
        }
    }
    .navbar-toggler-icon{
        background-image: url(../assets/img/menu.svg) !important;
    }
    .headerIcons{
        + button.navbar-toggler{
            display: none;
        }
        li {
            padding: 0px 15px;
            cursor: pointer;
        }
    } 
    .navbar-toggler:focus {
        outline: none;
    }
}



.sidebar{
    color: initial;
    .userName{
        ul{
            @include bgimg(url(../assets/img/usericon.png), no-repeat, auto, left);
            li:last-child {
                color: #929395;
            }
        }
        i{
            font-size: 11px;
            margin-left: 2px;
        }
    } 

    .settingButton button{
        background-color: #4fc2f8;
        @include bgimg(url(../assets/img/square.svg), no-repeat, 16px, 4% center);
        padding: 8px 32px;
        font-size: 15px;
    }
    .nav-link{
        color: #000 !important;
        &:hover{
            background-color: transparent;
        }
    }
    .nav{
        width: 100%;
        min-height: initial;
    }
    .sidebar-nav{
        flex: initial !important;
        border-bottom: 1px solid #e8ecef;
        padding-bottom: 5px;
        margin-bottom: 40px;
    }
    .nav-dropdown-toggle::before{
        content: "\f107";
        font-family: fontawesome;
        background-image: none;
        width: initial !important;
        height: initial !important;
        top: 14px;
        font-size: 22px;
    }
    .nav-dropdown.open > .nav-dropdown-toggle::before{
        transform: rotate(-180deg);
        top: 16px;
    }
    .nav-dropdown.open{
        background-color: transparent;
        > .nav-link {
            color: #222222;
        }
    } 
    .nav-dropdown{
        .nav-dropdown-items .nav-link{
            color: #6a6a6a !important;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 14px;
            padding-left: 60px !important;
            &::before{
                content: "";
                position: absolute;
                border: 1px solid #394052;
                width: 11px;
                height: 11px;
                border-radius: 50%;
                left: 44px;
                top: 10.4px;
            }
            &::after{
                content: "";
                position: absolute;
                left: 47.4px;
                width: 4px;
                height: 4px;
                background: #394052;
                border-radius: 50%;
                top: 13.3px;
            }
        }
    }
    app-sidebar-nav-dropdown.nav-item.nav-dropdown{
        padding-bottom: 10px;
    }
     a.nav-link.nav-dropdown-toggle {
        padding-bottom: 0px;
    }

    .nav-link.active{
        background-color: transparent;
        color: #222222;
    }
    .nav-item > .nav-link{
        &:hover{
            color: #222222;
        }
    }
    .sidebar-nav .nav > .nav-item{
        &:nth-child(1){
            @include bgimg(url(../assets/img/dashboard.svg), no-repeat, 20px, 3% 14px);
        }
        &:nth-child(2){
            @include bgimg(url(../assets/img/production.svg), no-repeat, 20px, 3% 14px);
        }
        &:nth-child(3){
            @include bgimg(url(../assets/img/trophy.svg), no-repeat, 20px, 3% 14px);
        }
        &:nth-child(4){
            @include bgimg(url(../assets/img/collaboration.svg), no-repeat, 20px, 3% 14px);
        }
        &:nth-child(5){
            @include bgimg(url(../assets/img/team.svg), no-repeat, 23px, 3% 17px);
        }
        .nav-link{
            padding-left: 45px;
        }
        > .nav-link{
            font-size: 16px;        
        }
        .nav-dropdown-items{
            font-size: 15px;
        }
    }
    .favList{
        li{
            font-size: 15px;
            span.starIcon{
                @include bgimg(url(../assets/img/star.svg), no-repeat, contain, center);
                @include widthheight(27px, 27px);
                font-size: 14px;
            }
        }
    }
    .nav-dropdown-toggle::before{

    }
}



app-sidebar.sidebar{
    background-color: map-get($colors, whitecolor);
}

.searchBox input {
    background-color: transparent;
    border: 1px solid #a2b8ff;
    width: 280px;
    @include bgimg(url(../assets/img/search.png), no-repeat, 20px, 98% center);
    padding-top: 5px;
    padding-bottom: 5px;    
}

.performanceSection{
    button{
        border-color: #eaeaea;
        border-width: 2px;
        > div:nth-child(2){
            font-size: 11px;
            text-transform: uppercase;
        }
    }
    .active::after {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 13px solid #2f353a;
        content: "";
        @include pabsolute(0, 0, initial, -13px);
        margin: 0 auto;
    }
    
} 

.dashboardAmount{
    background-color: map-get($colors, whitecolor);
    .text-value{
        font-size: 30px;
    }
    .amountType {
        font-size: 16px;
        font-weight: 500;
    }
    .amountList {
        border-bottom: 1px solid #d8d8d8;
        padding-left: 0px !important;
        padding-right: 0px !important;
        > div {
            border-right: 2px solid #d8d8d8;
            padding: 0 40px;
            &:first-child{
                padding-left: 0px;
            }
            &:last-child{
                padding-right: 0px;
                border: none;
            }
        }
    }
    
}

.contestDetails{
    flex: 0 0 65.6%;
    max-width: 65.6%;
}
.contestDetails{
    h4{
        font-size: 15px;
    }
}

.agentApp{
    h4{
        font-size: 17px;
    }
}

.calendarBox{
    label {
        border-radius: inherit;
        color: #3d3d3d;
        &:first-child, &:nth-child(2){
            border-right: none;
        }
        &:last-child, &:nth-child(2){
            border-left: none;
        }
    }
    label.active1{
        background-color: map-get($colors, primary) !important; 
        color: #fff !important;
    }
} 

.teamPerformanceTable{
    th, td{
        vertical-align: middle !important;   
    }
    img {
        width: 42px;
        border-radius: 50%;
        height: 42px;
        object-fit: contain;
    }
} 

.border-bottom-Card {
    border-bottom: 15px solid #edf5f8;
}

.teamPerformanceTable tr:nth-child(1) td{
    border-top: none;
}

.greytext{
    color: #989898;
}

.performance{
    .form-group > div{
        //position: relative;
        // &::before{
        //     content: "\f107";
        //     font-family: fontawesome;
        //     background-image: none;
        //     width: initial !important;
        //     height: initial !important;
        //     top: 2px;
        //     font-size: 22px;
        //     color: #ddd;
        //     position: absolute;
        //     right: 0;
        // }
        select.form-control{
            cursor: pointer;
            border: none;
            border-bottom: 1px solid;
            border-radius: inherit;
            border-color: #ddd;
            color: #999999;
            -webkit-appearance: none;
            -moz-appearance:    none;
            appearance:         none;
            background-image: url(../assets/img/downarrow.png);
            background-repeat: no-repeat;
            background-size: 17px;
            background-position: right center;

            &:focus{
                box-shadow: none;
                outline: none !important;
            }
        }
    }

}

@media(max-width:767px){
    .calendarBox{
        float: initial !important;
        margin: 30px 0px 0px;
    }
    .app-body .sidebar{
        width: 100%;
        position: absolute;
        top: 0px;
        height: 100%;
        
        .settingButton button{
            padding: 8px 42px;
        }
    }
    html:not([dir="rtl"]) .sidebar{
        margin-left: -100%;
    }
    .main .container-fluid{
        padding: 0 15px;
    }
    app-dashboard .app-header{
        height: initial !important;
        position: initial !important;
        background-color: #2a62ff !important;
        // display: flex;
        // flex-flow: column; 
        .navbar-brand{
            width: 100% !important;
            background-color: #ffffff;
            padding-left: 0px !important;
            position: initial !important;
            margin-left: 0px;
            left: initial;
            justify-content: center !important;
            padding: 0;
        }
        .navbar-toggler-icon{
            background-image: url(../assets/img/menumobile.svg) !important; 
        }
        .searchBox{
            width: 100%;
            padding: 15px 0px 10px;
            float: left;
            background-color: #2a62ff;
        }
        button.navbar-toggler.d-lg-none:last-child{
            display: none !important;
        }
        .headerIcons{
            justify-content: center !important;
            margin: 0 !important;
            width: 100%;
            padding: 6px 0px 10px;
            background-color: #2a62ff;
            margin-top: -1px !important;
        }
        .navbar-toggler{
            position: absolute;
            top: 9px;
        }
    }    
    .dashboardAmount .amountList > div{
        border-right: none !important;
        padding: 0px 0px 30px;
        text-align: center;
        .rightIcon{
            justify-content: center;
        }
    }
    .performance{
        h4{
            margin-top: 15px;
        }
        .card-body {
            padding: 0;
        }
        .form-group{
            margin-left: 0;
            margin-right: 0;
            padding: 0px 15px;
        }
        .active::after{
            content: none;
        }
        > div {
            flex: auto;
            max-width: 100%;
        }
    } 
    
    .contestDetails{
        flex: auto;
        max-width: 100%;
        margin: 0px !important;
        .card-body {
            padding: 0;
            padding-bottom: 30px;
            padding-top: 10px;
        }
        .chart-wrapper{
            overflow: auto;
        }
        
    }
    .agentApp{
        margin-top: 15px;
        flex: auto;
        max-width: 100%;
    }

}


.contestDetails select.form-control{
    cursor: pointer;
    border: none;
    border-bottom: 1px solid;
    border-radius: inherit;
    border-color: #ddd;
    color: #999999;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    background-image: url(../assets/img/downarrow.png);
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: right center;
    
    &:focus{
        box-shadow: none;
        outline: none !important;
    }
}

@media(max-width:574px){
    
    body.app.header-fixed.sidebar-lg-show.sidebar-fixed.sidebar-show .sidebar{
        width: 100% !important;
         .settingButton button{
            padding: 8px 49px;
        }
    }

    .chart-wrapper{
        height: initial !important;
        overflow: visible !important;
        .teamPerformanceTable{
            tbody, tr{
                display: flex;
                flex-flow: column;
                td{
                    border-top: none !important; 
                }
            }
            tr{
                border-bottom: 1px solid #c8ced3;
            }
        }
    }
}

@media(max-width:991px){
    .searchBox input{
        width: 200px;
    }
   
}

@media(min-width:992px) and (max-width:1199px){
    .sidebar-fixed .sidebar, .app-header a.navbar-brand{
        width: 250px !important;
    }
}

@media(min-width:768px) and (max-width:992px){
    button.navbar-toggler.d-lg-none:last-child{
        display: none !important;
    }
    .agentApp{ 
        .chart{
            width: 400px;
            height: 400px;
        }
    }
    .app-header{
        .navbar-brand{
            position: initial;
            padding-left: 0px !important;
            width: 190px !important;
            justify-content: center !important;
            margin-left: -20px !important;
        }
        .navbar-nav{
            margin-left: 0px !important;
        }
        .searchBox input{
            width: 145px;
        }
    }
}

@media (min-width:768px) and (max-width:1024px){

    .dashboardAmount .amountList > div{
        &:nth-child(2), &:nth-child(4){
            border-right: none;
        }
        &:nth-child(3){
            padding-left: 0px !important;
        }
        &:nth-child(5){
            padding-left: 0px;
            border-right: 2px solid #d8d8d8;
        }
    }

    .contestDetails, .performance > div {
        max-width: 100%;
        flex: auto;
    }
    .contestDetails{
        margin-right: 0px !important;
    }
    .agentApp{
        max-width: 100%;
        flex: auto;
        .row{
            justify-content: center;
        }
    }
    .dashboardAmount .amountList > div{
        max-width: 50%;
        flex: 0 0 50%;
        &:last-child{
            padding-right: 40px !important;
        }
    }
    .performanceSection{
        > div{
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
}

@media (min-width:1025px) and (max-width:1199px){
    .contestDetails, .performance > div {
        max-width: 100%;
        flex: auto;
    }
    .contestDetails{
        margin-right: 0px !important;
    }
    .agentApp{
        max-width: 100%;
        flex: auto;
        .row{
            justify-content: center;
        }
    }
    .performanceSection{
        > div{
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
}

@media(min-width:992px){
    html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer{
        margin-left: 250px;
    }
    .sidebar-fixed .sidebar{
        width: 280px;
        overflow: hidden;
    }
    .main .container-fluid {
        padding: 0 25px 0px 15px;
    }

    .minimizeSidebar{
        margin-left: 0px !important;
        width: 70px !important;
        .ps__rail-x{
            display: none !important; 
        }
        .sidebar-nav .nav > .nav-item{
            overflow: hidden;
            &:hover{
                overflow: visible !important;
            }
        }
        .settingButton button{
            font-size: 0px;
            width: 30px !important;
            height: 30px;
            padding: 0;
            background-position: center;
        }
        .favItem, app-sidebar-nav-items.nav-dropdown-items{
             display: none;

        }
        .userName ul {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 30px;
            height: 30px;
            margin-bottom: 0px;
            padding: 0 !important;
            li{
                display: none;
            }
        }
        
    }

    .minimizedContent{
        margin-left:80px !important;
    }


    .app-header, .app-header .navbar-brand{
        height: 65px;
    }
    .header-fixed .app-body{
        margin-top:65px;
    }
    body.app.header-fixed.sidebar-fixed.sidebar-lg-show{
        .sidebar{
            box-shadow: 0px -3px 10px 9px #e3ebee;
        }
        .app-header a.navbar-brand{
            box-shadow: -6px 0px 4px 4px #f2f2f2;
        }

    } 
    .app-header .navbar-nav{
        padding-right: 10px;
    }
    body.app.header-fixed.sidebar-fixed.sidebar-lg-show.sidebar-minimized.brand-minimized{
        .sidebar .nav-dropdown .nav-dropdown-items .nav-link{
            &::before, &::after{
                content: none;
            }
        }
        .userName li, ul.favList li{
            visibility: hidden;
        }
        .sidebar .userName ul{
            background-position: center;
        }
        .sidebar .sidebar-nav .nav > .nav-item {
            background-position-x: left !important;
            background-image: none;
            width: 285px;
            .nav-link{
                padding-left: initial;
                margin-left: 54px;
            }
        }
        .sidebar-minimized .sidebar .nav-item:hover > .nav-link{
            background-color: transparent !important;
            width: 100% !important;
        }
        .sidebar-minimized .sidebar .nav-item:hover{
            width: 290px;
        }
        .sidebar .sidebar-nav .nav > .nav-item{
            &:hover{
                background-color: #20a8d8;
                a, .nav-dropdown-items{
                    visibility: visible;
                    opacity: 1;
                }
                
            }
            .nav-dropdown-items{
                visibility: hidden;
                opacity: 0;
            }
            a{
                background-color: transparent;
                visibility: hidden;
                opacity: 0;
                transition: all linear .3s;
                color: #fff !important;
            }
            &::before{
                cursor: pointer;
            }
            &:nth-child(1)::before{
                content: "";
                @include bgimg(url(../assets/img/dashboard.svg), no-repeat, 20px, center);
                @include widthheight(50px, 50px);
                position: absolute;
                left: 0px;
            }
            &:nth-child(2)::before{
                content: "";
                @include bgimg(url(../assets/img/production.svg), no-repeat, 20px, center);
                @include widthheight(50px, 50px);
                position: absolute;
                left: 0px;
            }
            &:nth-child(3)::before{
                content: "";
                @include bgimg(url(../assets/img/trophy.svg), no-repeat, 20px, center);
                @include widthheight(50px, 50px);
                position: absolute;
                left: 0px;
            }
            &:nth-child(4)::before{
                content: "";
                @include bgimg(url(../assets/img/collaboration.svg), no-repeat, 20px, center);
                @include widthheight(50px, 50px);
                position: absolute;
                left: 0px;
            }
            &:nth-child(5)::before{
                content: "";
                @include bgimg(url(../assets/img/team.svg), no-repeat, 20px, center);
                @include widthheight(50px, 50px);
                position: absolute;
                left: 0px;
            }

        }
        .sidebar .settingButton button{
            background-image: none;
            &::before{
                content: "";
                background-image: url('../assets/img/square.svg');
            }
        }
        .sidebar{
            padding: 0px !important;
        }
        app-sidebar-nav-items.nav-dropdown-items a.nav-link {
            margin-left: 0px !important;
        }
        .sidebar .nav-dropdown .nav-dropdown-items .nav-link{
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .settingButton{
            
            &::before{
                content: "";
                @include bgimg(url(../assets/img/square.svg), no-repeat, 16px, center);
                @include widthheight(30px, 30px);
                position: absolute;
                left: 9px;
                border-radius: 3px;
                background-color: #4fc2f8;
            }
            button{
                visibility: hidden;
                opacity: 0;
            }
        }
        .sidebar-minimizer{
            width: inherit;
            left: 0;
        }
        
    }
    html:not([dir="rtl"]) body.app.header-fixed.sidebar-fixed.sidebar-minimized.brand-minimized{
         .sidebar{
             margin-left: -200px;
         }
    }
    html:not([dir="rtl"]) .sidebar-lg-show .sidebar{
        margin-left: 0px !important;
    }
    
    .sidebar-minimized .sidebar .sidebar-minimizer{
        left: 0px;
    }
    .sidebar-minimized .sidebar .nav > .nav-dropdown:hover > .nav-dropdown-items, .sidebar-minimized .sidebar .nav > .nav-dropdown:hover > .nav-dropdown-items{
        position: absolute;
        left: 50px;
        display: inline;
        top: 46px;
        width: 250px;
    }
    // body.app.header-fixed.sidebar-lg-show.sidebar-fixed .sidebar-minimizer {
    //     left: -15px;
    //     width: 279px;
    // }
    
    .loginSecLeft{
        p{
            max-width: 380px;
            font-size: 18px;
            margin: 0 auto;
        }
    }

    /* Newsidebar */
    
    .expandContent{
        margin-left: 280px;
    }
    .openSidebar{
        margin-left: 0px !important;
    }
    .minimizeSidebar{
        overflow: visible !important;
        .sidebar-nav{
            overflow: visible !important;
        }
        .nav-item{
            width: 40px;
            margin-left: 7px;
            cursor: pointer;
            // padding-left: 54px !important;
            .nav-link{
                visibility: hidden;
                opacity: 0;
                min-width: 250px;
            }
           
            &:hover{
                width: auto;
                margin-left: 0px;
                .nav-link{
                    visibility: visible;
                    opacity: 1;
                }
            } 
            // &:nth-child(4):hover{
            //     margin-left: 1px !important;
            // }
            &:nth-child(5){
                margin-left: 6px !important;
                // &:hover{
                //     margin-left: 0px !important;
                // }
            }
        }
        .nav-item.nav-dropdown{
            a.nav-link.nav-dropdown-toggle{
                background-color: #e9eaeb;
            }   
            .nav-dropdown-items .nav-link{
                background-color: #e9eaeb;
                padding-left: 30px !important;
            }
        }
        .nav > .nav-item{
            .nav-link{
                padding-left: 10px !important;
                background-color: #e9eaeb;
            }
            &:nth-child(1):hover, &:nth-child(2):hover, &:nth-child(3):hover, &:nth-child(4):hover, &:nth-child(5):hover {
                margin-left: -1px !important;
            }
        }
        .nav > .nav-item{
            z-index: 1;
            // background-position-x: 14% !important;
            &:hover{
                // background-position-x: 4% !important;
                z-index: 9 !important;
            }            
            > .nav-link{
                margin-left: 55px !important;
            }
        }
        // .nav-item.nav-dropdown{
        //     &:nth-child(3):hover{
        //         margin-left: 1px !important;
        //     }
          
        // }
        .nav-dropdown-items{
            display: block !important;
            .nav-link{
                &::after{
                    top: 18.3px !important;
                    left: 18.4px !important;
                }
                &::before{
                    left: 15px !important;
                    top: 15.4px !important;
                }
                
            }
        }
        .favList {
            width: 50px;
            padding-left: 0px;
           li{
               &:hover{
                   width: 200px;
               }
               .starIcon{
                   cursor: pointer;
               }
                span.favItem{
                    cursor: pointer;
                    position: absolute;
                    left: 73px;
                    visibility: hidden;
                    opacity: 0;
                    width: 250px;
                    background-color: #e9eaeb;
                    padding: 0.75rem 1rem;
                }
                &:hover span.favItem {
                    visibility: visible;
                    opacity: 1;
                    display: inline-block;
                    margin-left: -3px;
                }
           }

        }
        .nav-dropdown-items{
            position: absolute;
            margin-left: 55px;
        }
        .ps__rail-y{
            display: none;
        }
        .nav-dropdown-items .nav-item{
            margin: 0px;
        }
        .nav-item.nav-dropdown a.nav-link {
            padding: 10px 10px 10px 8px !important;
        }
        .userName, .settingButton{
            display: flex;
            justify-content: center;
        }
        .nav-dropdown-toggle::before{
            content: none;
        }
    }

    .app-body .sidebar.openSidebar{
        .nav-link{
            padding: 0.5rem 1rem;
        }
        .sidebar-nav .nav > .nav-item{
            background-position: 4% 9px;
            background-size: 23px;
            padding-bottom: 4px;
            > .nav-link{
                font-size: 15px;
                padding-left: 51px;
            }
            &:nth-child(2), &:nth-child(3){
                padding-bottom: 3px !important;
            }
        } 
        .nav-dropdown .nav-dropdown-items .nav-link{
            font-size: 12px;
            padding: 3px 0px 3px 68px !important;
            &::before{
                @include widthheight(10px, 10px);
                left: 52px;
                top: 8.4px;
            }
            &::after{
                @include widthheight(3px, 3px);
                left: 55.4px;
                top: 11.4px;
            }
        }
        .nav-dropdown-toggle::before{
            font-size: 19px;
            top: 9px;
        }
        a.nav-link.nav-dropdown-toggle{
            padding-bottom: 2px !important;
        }
        .settingButton button{
            background-size: 13px;
            border-radius: 3px;
        }
    }
}


@media(min-width:1025px) and (max-width:1200px){

    .amountList > div{
        flex: 0 0 20%;
        max-width: 20%;
        padding:0px !important;
        .row{
            margin-left: 0px;
            margin-right: 0px;
            > div {
                max-width: 100%;
                flex: auto;
                .amountType{
                    font-size: 14px;
                }
            }
        }
    } 
}

@media(min-width:1201px) and (max-width:1825px){
    .performanceSection{
        > div{
            padding-left: 7px;
        }
        button {
            padding-top: 2px;
            padding-bottom: 2px;
        }
        button.active > div:first-child{
            font-weight: bold;
        }
    } 
    .dashboardAmount{
        .text-value{
            font-size: 25px;
            font-weight: 700;
        }
        .amountType{
            font-size: 13px;
            margin-bottom: 5px;
        }
        .amountList {
            margin-bottom: 16px;
            padding-bottom: 28px !important;
            > div{
                padding: 0px 10px;
                flex: 0 0 20%;
                max-width: 20%;
            }
            .row > div{
                &:first-child{
                    max-width: 65%;
                    flex: auto;
                    padding: 0px;
                }
            }
        }
        .rightIcon{
            img{
                @include widthheight(60px, 60px);
                margin-top: 20px;
            }
        }
        > .performance > div{
            &:first-child {
                max-width: 72% !important;
                flex: 0 0 72%;
            }
            &:last-child {
                padding:0px;
                max-width: 28%;
                flex: 0 0 28%;
            }
        }
    } 
    .contestDetails {
        flex: 0 0 64.5%;
        max-width: 64.5%;
    }
    .headerIcons img {
        width: 25px;
    }
    // html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer{
    //     margin-left: 250px;
    // }
    .sidebar-fixed .sidebar{
        width: 250px;
    }
    html:not([dir="rtl"]) .sidebar{
        margin-left: -250px;
    }
    .app-header a.navbar-brand{
        width: 250px !important;
    }
    .performance .card-body {
        padding-left: 8px;
        .row{
            > div:nth-child(1){
                padding-left: 0px;
            }
        }
        .chart-wrapper{
            padding-left: 0px !important;
        }
    }
    
}

@media(min-width:1826px){
    .dashboardAmount{
        .amountList {
            > div{
                padding: 0px 30px;
                flex: 0 0 20%;
                max-width: 20%;
                padding-right: 60px;
                &:last-child{
                    padding-right: 0px;
                }
            }
            .rightIcon img {
                margin-top: 20px;
            }
        }
    }
    html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer{
        margin-left: 280px;
    }
}

@media(min-width:1201px){
    .amountList {
        // &::after {
        //     border-bottom: 1px solid #d8d8d8;
        //     content: "";
        //     position: absolute;
        //     width: 95%;
        //     height: 2px;
        //     left: 0;
        //     right: 0;
        //     margin: 0 auto;
        //     top: 20%;
        // }
    }
}

@media(min-width:1300px) and (max-width:1800px){
    .contestDetails h4{
        font-size: 14px;
    }
    .sidebar .sidebar-nav{
        margin-bottom: 0px !important;
        padding-bottom: 7px;
    }
    .sidebar.openSidebar{
        .settingButton{
            margin-bottom: 20px !important;
            button{
                background-position: 6% center;
            }
        } 
        .sidebar-nav .nav > .nav-item{
            background-position: 3% 9px !important;
            &:nth-child(2){

            }
        }
    }
    .sidebar .userName ul{
        margin-top: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        li{
            line-height: 19px;
        }
    }
    .sidebar .favList{
        margin-top:52px; 
        margin-bottom: 0px;
        li{
            margin-bottom: 0px !important;
            &:first-child{
                margin-bottom: 20px !important;
            }
            span.starIcon{
                font-size: 10px !important;
                @include widthheight(21px, 21px);
            }
        } 
    } 
    .sidebar .favList li span.favItem{
        padding-left: 14px;
    }
    .app-header a.navbar-brand img{
        margin-top: 6px;
    }
    .performContent{
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
    .pageTitle{
        margin-top: 17px !important;
        font-size: 19px;
        margin-bottom: 12px !important;
        color: #3f5467;
        padding-left: 20px !important;
    }
    .performance h4.card-title {
        font-size: 16px;
    }
    .performance .performance h4{
        font-size: 14px;
    }
    .calendarBox label {
        font-size: 13px;
        padding: 4px 14px;
    }
    .amountList {
        padding: 1.5rem 36px !important;
    }  
    .app .headerIcons li{
        &:first-child img{
            width: 20px !important;
        }
        &:nth-child(2) img{
            width: 21px !important;
            margin-right: 1px;
        }
        &:nth-child(3) img{
            width: 24px !important;
        }
        &:nth-child(4) img{
            width: 31px !important;
        }
    }    
    .searchBox input{
        padding-top: 2px;
        padding-bottom: 2px;
        width: 246px;
        background-size: 15px;
    }
    .app-header{
        .navbar-toggler{
            min-width: 32px;
            margin-left: 10px;
            margin-bottom: 4px;
        }
        .searchBox{
            margin-bottom: 4px;
        }
        .navbar-toggler-icon{
            height: 18px;
        }
    } 
}

@media(min-width:1801px){
    .loginSecLeft {
        padding-top: 5% !important;
    }
    .loginSecRight{
        padding-top: 7% !important;
    }
}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .sidebar{
        color: inherit !important;
        .nav-item.nav-dropdown.open{
            .nav-link.nav-dropdown-toggle::before{
                top: 37px !important;       
            }
        }
    }
    .sidebar.openSidebar .sidebar-nav .nav{
        > .nav-item:nth-child(1){
            background-size: 120px;
            background-position: -25% 14px;
        }
        > .nav-item:nth-child(2), > .nav-item:nth-child(3){
            background-size: 45px !important;
        }
        > .nav-item:nth-child(4){
            background-size: 100px;
            background-position: -14% 14px;
        }
        > .nav-item:nth-child(5){
            background-size: 120px;
            background-position: -26% 14px;
        }
        
    } 
    .performance, .contestDetails{
        select::-ms-expand{
            display: none;
        }
    }
    .contestDetails select.form-control{
        width: 100px;
        -webkit-appearance:none;
        -moz-appearance:none;
        appearance:none;
    }

    .minimizeSidebar{
        .sidebar-nav .nav{
            
            > .nav-item:nth-child(1):hover, > .nav-item:nth-child(2):hover, > .nav-item:nth-child(3):hover, > .nav-item:nth-child(4):hover{
                margin-left: 7px !important;
                width: 50px !important;
            }
            > .nav-item:nth-child(5):hover{
                margin-left: 6px !important;
                width: 50px !important;
            }
           > .nav-item > .nav-link, .nav-dropdown-items{
                margin-left: 47px !important;
            }
            
        } 

    } 

    // .openSidebar.sidebar .sidebar-nav .nav > :nth-child(2).nav-item, .openSidebar.sidebar .sidebar-nav .nav > :nth-child(3).nav-item{

    // }

    // .openSidebar.sidebar .sidebar-nav .nav > .nav-item:nth-child(2){
    //     background-size: 100px !important;
    //     background-position: -15% 14px;
    // }

    // .minimizeSidebar{
    //     .sidebar-nav .nav{
    //         > .nav-item:nth-child(1){
    //             background-position: 10% 14px !important;
    //         }
    //         > .nav-item:nth-child(1):hover, > .nav-item:nth-child(2):hover, > .nav-item:nth-child(3):hover, > .nav-item:nth-child(4):hover{
    //             background-position: 40% 14px !important;
    //             margin-left: 6px !important;
    //         }
    //         > .nav-item:nth-child(4):hover{
    //             background-position-x: 8px !important;
    //         }
    //     } 
    // } 
    @media(min-width:992px){

        .minimizeSidebar{
            .nav-item{
                width: 50px;
            }
            .favList{
                li{
                    position: relative;
                    span.favItem{
                        left: 50px !important;
                        top: 0px !important;
                    }
                }
            }
        } 
        #performanceYear, #performanceMonth{
            width: 100px;
        }
    }
}

.performanceSection {
    > div:nth-child(1), > div:last-child{
        button{
            background-image: url(../assets/img/smiley.png);
            background-repeat: no-repeat; 
            background-position: 12px 49%;
            background-size: 22px;
        }

}
}
.headerIcons li:first-child img {
    width: 29px !important;
    height: 23px;
    opacity: .9;
}

@-moz-document url-prefix() {
    .sidebar .nav-dropdown .nav-dropdown-items .nav-link::before{
        top: 27.4px !important;
    }
    .sidebar .nav-dropdown .nav-dropdown-items .nav-link::after{
        top: 30.4px !important;
    }
  }
  .sidebar .sidebar-minimizer, .sidebar .sidebar-minimizer:hover{
      background-color: transparent;
  }
 
  .loginSecLeft {
    background-color: #2c2e3a;
    h4{
        font-size: 34px;
        font-weight: normal;
    }
    h4, p{
        color: #fefefe;
    }
    button{
        border:1px solid #fefefe;
        background-color: transparent;
    }
}

.loginSecRight{
    background-color: #fff !important;
    border: none;
    h2{
        span{
            color: #3596da;
        }
    }
    p{
        color: #777777;
        font-size: 16px;
    }
    .darkblue{
        color: #004a9b !important;
    }
    button{
        background-color: #00adef;
    }
    input[type="text"], input[type="password"]{
        border: 1px solid #b2b2b2;
        height: initial;
    }
    .card-body{
        max-width: 571px;
        width: 100%;
    }
    .signInMobile {
        margin-bottom: 37px;
    }
}

.teamPerformanceTable .userName{
    width: 30px;
    height: 30px;
    background-image: url('../assets/img/usericon.png');
    background-size: contain;
    background-repeat: no-repeat;
}




.customLoader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.2);
    z-index: 99999;
}
.app-body{
    position: relative;
}
.loader1 {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:inline-block;
    font-size:0px;
    padding:0px;
 }
 .loader1 span {
    vertical-align:middle;
    border-radius:100%;
    
    display:inline-block;
    width:15px;
    height:15px;
    margin:3px 2px;
    -webkit-animation:loader1 0.8s linear infinite alternate;
    animation:loader1 0.8s linear infinite alternate;
 }
 .loader1 span:nth-child(1) {
    -webkit-animation-delay:-1s;
    animation-delay:-1s;
   background:rgba(42, 98, 255, 0.6);
 }
 .loader1 span:nth-child(2) {
    -webkit-animation-delay:-0.8s;
    animation-delay:-0.8s;
   background:rgba(42, 98, 255, 0.8);
 }
 .loader1 span:nth-child(3) {
    -webkit-animation-delay:-0.26666s;
    animation-delay:-0.26666s;
   background:rgba(42, 98, 255, 1);
 }
 .loader1 span:nth-child(4) {
    -webkit-animation-delay:-0.8s;
    animation-delay:-0.8s;
   background:rgba(42, 98, 255, 0.8);
   
 }
 .loader1 span:nth-child(5) {
    -webkit-animation-delay:-1s;
    animation-delay:-1s;
   background:rgba(42, 98, 255, 0.4);
 }
 
 @keyframes loader1 {
    from {transform: scale(0, 0);}
    to {transform: scale(1, 1);}
 }
 @-webkit-keyframes loader1 {
    from {-webkit-transform: scale(0, 0);}
    to {-webkit-transform: scale(1, 1);}
 }
 

 @media(min-height:620px) and (max-height:767px){
    .sidebar .favList{
        margin-top: 20px !important;
    }
 }