// Variable overrides
.active1{
    background-color: #2a62ff !important;
    color: #fff !important;
}
.calendarBox .active{
    background-color: transparent !important;
    color: #3d3d3d !important;
}